<html>
    <head>
        <title>My Django First App</title>
    </head>
    <body>
        <div>
            <h1><a href="">My Django First App</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Fuck Yeah Teri maa ki saaki naka.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Jo hua jaane de dhoom machale</p>
        </div>
    </body>
</html>